[SddmGreeterTheme]
Name=YoRHa Theme
Description=A YoRHa login screen
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=YoRHa-theme
Theme-API=2.11
